@charset "UTF-8";
/*
    Author : Bertrand Sudre ;
*/
/* Color */
/* Font */
/* Weight */
/* Shadow */
/* Border */
/* Width */
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: auto;
}

/* Annulation des valeurs par défaut des navigateurs */
body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 1.75rem;
  font-weight: 900;
}

.ordered-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 2rem 0;
  padding: 0 0 0 0.5rem;
  list-style: none;
  counter-reset: item;
  font-size: 1.2rem;
}
.ordered-list__item {
  counter-increment: item;
  display: flex;
  align-items: center;
  padding: 1.5rem 1.5rem 1.5rem 0;
  position: relative;
  background-color: #F7F7F7;
  border-radius: 20px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}
.ordered-list__item:before {
  content: counter(item);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -0.6rem;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  border-radius: 100%;
  background: #9356DC;
  color: white;
}
.ordered-list__item--highlight {
  background-color: rgba(147, 86, 220, 0.1);
}
@media screen and (min-width: 1090px) {
  .ordered-list__item {
    flex: 1;
  }
}
.ordered-list__icon {
  color: #7E7E7E;
  font-size: 1.5rem;
  width: 27px;
  margin: 0 1rem 0 2rem;
  align-self: center;
}
.ordered-list__icon--highlight {
  color: #9356DC;
}
.ordered-list__text {
  font-weight: 500;
}
@media screen and (min-width: 1090px) {
  .ordered-list {
    flex-direction: row;
  }
}

.card {
  display: block;
  position: relative;
  border-radius: 1rem;
  background-color: #fff;
  text-decoration: none;
  color: #000;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}
.card__img {
  height: 13rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__new {
  padding: 0.5rem 0.75rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 0.25rem;
  background-color: #99E2D0;
  color: #1b6150;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
@media screen and (min-width: 1090px) {
  .card {
    flex: 0 0 48%;
  }
}

.submenu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}
.submenu__title {
  text-transform: uppercase;
  color: #7E7E7E;
  font-weight: 500;
  padding-bottom: 0.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.25rem;
  border-bottom-color: #99E2D0;
  width: 3rem;
}
@media screen and (min-width: 1090px) {
  .submenu {
    flex: 1;
  }
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #fff;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}
.menu-item__header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.menu-item__title {
  font-weight: 700;
}
.menu-item__desc {
  font-weight: 300;
}
.menu-item__price {
  font-weight: 700;
  color: #353535;
}

.header {
  height: 2rem;
  padding: 1rem 0 1rem 0;
  text-align: center;
  vertical-align: center;
  position: relative;
}
.header__icon {
  position: absolute;
  left: 1rem;
  font-size: 1.5rem;
  color: #000;
  vertical-align: center;
}
.header__logo {
  height: 100%;
}
.header__link {
  text-decoration: none;
  color: black;
  font-family: "Shrikhand", cursive;
}
.header__img {
  height: 100%;
}

.footer {
  background-color: #353535;
  padding: 1.5rem 2rem;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  color: #fff;
  margin-bottom: 1rem;
}
.footer__logo {
  height: 1rem;
  filter: invert(1);
}
.footer__link {
  text-decoration: none;
  color: #fff;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__item {
  list-style: none;
}
.footer__icon {
  width: 1rem;
  font-size: 0.8rem;
}

.location {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  font-size: 1.25rem;
  color: #353535;
  background-color: #EAEAEA;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.25) inset;
}
.location__icon {
  margin-right: 1rem;
}
.location__text {
  font-weight: 500;
}

.introduction {
  padding: 2rem 1rem 4rem 1rem;
  text-align: center;
  background-color: #F7F7F7;
}
.introduction__title {
  margin-bottom: 1rem;
}
.introduction__subtitle {
  margin-bottom: 3rem;
  font-weight: 300;
  color: #353535;
}
.introduction__link {
  color: #fff;
  text-decoration: none;
  padding: 1rem 1.25rem;
  border-radius: 40px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(355deg, #9356DC 10%, #FF79DA 90%);
  font-weight: 500;
}

.functioning {
  padding: 3rem 1.5rem;
  max-width: 1200px;
  margin: auto;
}

.restaurants {
  padding: 3rem 1.5rem;
  background-color: #F7F7F7;
}
.restaurants__container {
  max-width: 1200px;
  margin: auto;
}

.cards {
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 1090px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem 0;
  }
}

.background {
  width: 100%;
}
.background__img {
  width: 100%;
  max-height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  padding: 2rem 1rem;
  background-color: #F7F7F7;
  border-radius: 40px 40px 0 0;
  position: relative;
  max-width: 1200px;
  margin: -3rem auto 0 auto;
}
.menu__header {
  margin-bottom: 2rem;
}
.menu__title {
  font-family: "Shrikhand", cursive;
}
.menu__footer {
  text-align: center;
}
.menu__btn {
  border: none;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 40px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(355deg, #9356DC 10%, #FF79DA 90%);
  font-size: 1rem;
  font-weight: 700;
}
@media screen and (min-width: 1090px) {
  .submenus {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}/*# sourceMappingURL=main.css.map */