.button {
    color: $color-white;
    text-decoration: none;
    padding: 1rem 1.25rem;
    border-radius: 40px;
    cursor: pointer;
    font-weight: $font-weight-medium;

    box-shadow: $box-shadow;
    background: linear-gradient(355deg, $color-primary 10%, $color-secondary 90%);
    transition-duration: 300ms;
    

    &:hover{
        opacity: 0.8;
        box-shadow: $box-shadow-hover;
    }
    
}