.loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;

    background-color: hsla(0,0%,100%,.9);
    animation: loader .5s;
    animation-delay: 2.5s;
    animation-fill-mode: both;
    
    &__spin {
        position: fixed;
        left: 50%;
        margin-left: -60px;
        top: 50%;
        margin-top: -60px;

        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-right: 16px solid $color-primary;
        border-bottom: 16px solid $color-secondary;
        border-left: 16px solid $color-tertiary;
        width: 120px;
        height: 120px;
        animation: spin 3s ease;
    }
}