.background {
    width: 100%;

    &__img {
        width: 100%;
        min-height: 10rem;
        height: 50vw;
        object-fit: cover;
    }
    @include larger-than-mobile{
        &__img {
            max-height: 30rem;
        }
    }
}

.menu {
    padding: 2rem 1rem ;
    background-color: $color-lightgrey;
    border-radius: $radius-btn $radius-btn 0 0;
    position: relative;
    max-width: $max-width;
    margin: -3rem auto 0 auto;
    &__header {
        margin-bottom: 2rem;
    }
    &__title {
        font-family: $family-title;
    }
    &__icon {
        bottom: 0.4rem;
        top: auto;
        right: 1rem;
    }
    &__footer {
        text-align: center;
    }
    &__btn {
        border: none;
        padding: 1rem 3rem;
        font-size: 1rem;
        font-weight: $font-weight-bold;
    }
}

.submenus {
    @include larger-than-mobile{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}