.footer {
    background-color: $color-darkgrey;
    padding: 1.5rem 2rem;
    
    &__title {
        font-family: $family-title;
        color: $color-white;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    // &__logo {
    //     height: 1rem;
    //     filter: invert(1);
    // }
    &__link {
        text-decoration: none;
        color: $color-white;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    &__item {
        list-style: none;
    }
    &__icon {
        width: 1rem;
        font-size: .8rem;
    }
}