.header {
    padding: .5rem 0 .5rem 0;
    text-align: center;
    position: relative;
    &__icon {
        position: absolute;
        left: 1rem;
        top: 1.1rem;
        font-size: 1.5rem;
        color: $color-black;
    }
    &__logo {
        height: 100%;
    }
    &__link {
        text-decoration: none;
        color: black;
        font-family: $family-title;
    }
    // &__img {
    //     height: 100%;
    // }
}