.header {
    height: 2rem;
    padding: 1rem 0 1rem 0;
    text-align: center;
    vertical-align: center;
    position: relative;
    &__icon {
        position: absolute;
        left: 1rem;
        font-size: 1.5rem;
        color: $color-black;
        vertical-align: center;
    }
    &__logo {
        height: 100%;
    }
    &__link {
        text-decoration: none;
        color: black;
        font-family: $family-title;
    }
    &__img {
        height: 100%;
    }
}